<%- include('../includes/html-head.ejs') %>
    <%- include('../includes/admin-header.ejs') %><br>
    <hr>
    <br>
    <div class="container" id="admin-board">
        <div class="admin__heading">
            <h1 class="heading-title">Admin board </h1>
            <div class="admin__form">
                <form action="/admin/search" method="POST" class="search-wrap">                
                    <input type="text" 
                            name="search" 
                            class="admin__search"
                            placeholder="Enter your search here">
                    <button class="btn__search" type="submit">
                        <i class="fas fa-search admin__icon"></i>    
                    </button>
                </form>
            </div>
        </div>
        <hr>
        <form class="link-control signup__form" method="POST" action="/admin/link">
            <div class="form-group">
                <label for="link">Course register link</label>
                <input type="text" 
                        name="courseLink" 
                        class="form-control"
                        value="<%= link.courseLink %>">
            </div>

            <div class="form-group">
                <label for="link">Event register link</label>
                <input type="text" 
                        name="eventLink" 
                        class="form-control"
                        value="<%= link.eventLink %>">
                        
            </div>


                <button class="btn btn-primary" type="submit">
                    Update 
                </button>
            </form>
        
        <section class="course-info">
            <h2 class="medium-title">Courses information</h2>
            <div class="glider__body" >

                <svg class="glider__icon glider__icon--left d-none d-sm-block">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-left"></use>
                </svg>
                <svg class="glider__icon glider__icon--right d-none d-sm-block">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-right"></use>
                </svg>

                <div class="glider ">

                    <% courses.forEach(course=>{ %>
    
                        <div class="card">
                            <img src="<%= course.courseImg %>"
                                 class="card-img-top course-info__card-img" 
                                 alt="<%= course.title %>">
                            <div class="card-body">
                                <h2 class="card-title"><%= course.title %></h2>
                                <p class="card-text"><%= course.shortDes.split(' ').slice(0,5).join(' ') %> ...</p>
                                <div class="d-flex">
                                    <a href="/admin/course/edit?courseId=<%= course._id %>" class="btn btn-warning mr-8">Add information</a>
                                    <form action="/admin/course/delete" method="POST">
                                        <input type="hidden" value="<%= course._id %>" name="courseId">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                    <% }) %>
                </div>
                <br>
                
                <div role="tablist" class="dots"></div>
            </div>
        </section>

        <section class="event-info">
            <h2 class="medium-title">Events information </h2>
            <div class="glider__body" >
                
                <svg class="glider__icon glider__icon--left d-none d-sm-block " id="arrow-left">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-left"></use>
                </svg>
                <svg class="glider__icon glider__icon--right d-none d-sm-block " id="arrow-right">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-right"></use>
                </svg>

                <div class="event-glider container">

                    <% events.forEach(event=>{ %>
    
                        <div class="card">
                            <img src="<%= event.eventImgs[0] %>"
                                 class="card-img-top course-info__card-img" 
                                 alt="<%= event.title %>">
                            <div class="card-body">
                                <h2 class="card-title"><%= event.eventName %></h2>
                                <p class="card-text"><%= event.dateHappen %></p>
                                <p class="card-text"><%= event.desc[0].split(' ').slice(0,5).join(' ') %></p>
                                <div class="d-flex">
                                    <a href="/admin/event/edit?eventId=<%= event._id %>" class="btn btn-warning mr-8">Add information</a>
                                    <form action="/admin/event/delete" method="POST">
                                        <input type="hidden" value="<%= event._id %>" name="eventId">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                    <% }) %>
                </div>
                <br>
                
                <div role="tablist" class="dots"></div>
            </div>
        </section>

        <section class="event-info">
            <h2 class="medium-title">Online Courses information </h2>
            <div class="glider__body" >
                
                <svg class="glider__icon glider__icon--left d-none d-sm-block " id="on-arrow-left">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-left"></use>
                </svg>
                <svg class="glider__icon glider__icon--right d-none d-sm-block " id="on-arrow-right">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-right"></use>
                </svg>

                <div class="online-course-glider container">

                    <% onCourses.forEach(course=>{ %>
    
                        <div class="card">
                            <img src="<%= course.imageUrl %>"
                                 class="card-img-top course-info__card-img" 
                                 alt="<%= course.title %>">
                            <div class="card-body">
                                <h2 class="card-title"><%= course.title %></h2>
                                <p class="card-text">Last update: <%= course.updatedAt.toISOString().split('T')[0] %></p>
                                <p class="card-text">Created by: <%= course.teacher.name %></p>
                                <div class="d-flex">
                                    <a href="/admin/online-course/edit?onCourseId=<%= course._id %>" class="btn btn-warning mr-8">Add course</a>
                                    <button class="btn btn-danger delete-btn" 
                                            @click="deleteCourse()">Delete</button>
                                    <input type="hidden" ref="courseId" value="<%= course._id %>" name="onCourseId">
                                 
                                </div>                               
                            </div>
                        </div>
                        
    
                    <% }) %>
                </div>
                <div v-if="isActive" class="info-popup__wrapper ">
                    <div class="info-popup text-center flapInAnim">
                            <h1 class="info-popup__heading">Are your sure?</h1>
                            <p class="info-popup__content">Click delete if you want to delete this course forever!</p>
                            <div class="d-flex justify-content-center btn-wrap">
                                <form action="/admin/online-course/delete" method="POST" class="mr-4">
                                    <input type="hidden" :value="onCourseId" name="onCourseId">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                <button class="btn btn-info btn__cancel" 
                                        @click="isActive = false">Cancel</button>
                            </div>
                    </div>
                </div>
                <br>
                
                <div role="tablist" class="dots"></div>
            </div>
        </section>

        
        <br><br><br>
    </div>

    <script src="public/javascripts/adminBoard.js">
        
    </script>

    <%- include('../includes/admin-footer.ejs',{
        page: 'Course Page'
    }) %>


<%- include('../includes/footer.ejs') %>