<%- include('../includes/html-head.ejs') %>
    <%- include('../includes/admin-header.ejs') %><br>
    <hr>
    <br>
    <div class="container">
        <div class="admin__heading">
            <h1 class="heading-title">Admin board </h1>
            <div class="admin__form">
                <form action="/admin/search" method="POST" class="search-wrap">                
                    <input type="text" 
                            name="search" 
                            class="admin__search"
                            placeholder="Enter your search here">
                    <button class="btn__search" type="submit">
                        <i class="fas fa-search admin__icon"></i>    
                    </button>
                </form>
            </div>
        </div>
        <hr>
        <section class="course-info">
            <h2 class="medium-title">Courses information</h2>
            <div class="glider__body" >

                <svg class="glider__icon glider__icon--left">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-left"></use>
                </svg>
                <svg class="glider__icon glider__icon--right">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-right"></use>
                </svg>

                <div class="glider ">

                    <% courses.forEach(course=>{ %>
    
                        <div class="card">
                            <img src="<%= course.courseImg %>"
                                 class="card-img-top course-info__card-img" 
                                 alt="<%= course.title %>">
                            <div class="card-body">
                                <h2 class="card-title"><%= course.title %></h2>
                                <p class="card-text"><%= course.shortDes.split(' ').slice(0,14).join(' ') %> ...</p>
                                <div class="d-flex">
                                    <a href="/admin/course/edit?courseId=<%= course._id %>" class="btn btn-warning mr-8">Add information</a>
                                    <form action="/admin/course/delete" method="POST">
                                        <input type="hidden" value="<%= course._id %>" name="courseId">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                    <% }) %>
                </div>
                <br>
                
                <div role="tablist" class="dots"></div>
            </div>
        </section>

        <section class="event-info">
            <h2 class="medium-title">Events information </h2>
            <div class="glider__body" >
                
                <svg class="glider__icon glider__icon--left" id="arrow-left">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-left"></use>
                </svg>
                <svg class="glider__icon glider__icon--right" id="arrow-right">
                    <use xlink:href="public/images/arrows.svg#icon-chevron-thin-right"></use>
                </svg>

                <div class="event-glider">

                    <% events.forEach(event=>{ %>
    
                        <div class="card">
                            <img src="<%= event.eventImgs[0] %>"
                                 class="card-img-top course-info__card-img" 
                                 alt="<%= event.title %>">
                            <div class="card-body">
                                <h2 class="card-title"><%= event.eventName %></h2>
                                <p class="card-text"><%= event.dateHappen %></p>
                                <p class="card-text"><%= event.desc[0].split(' ').slice(0,14).join(' ') %></p>
                                <div class="d-flex">
                                    <a href="/admin/event/edit?eventId=<%= event._id %>" class="btn btn-warning mr-8">Add information</a>
                                    <form action="/admin/event/delete" method="POST">
                                        <input type="hidden" value="<%= event._id %>" name="eventId">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                    <% }) %>
                </div>
                <br>
                
                <div role="tablist" class="dots"></div>
            </div>
        </section>
        <br><br>
    </div>

    <script>
        
        const glider1 = new Glider(document.querySelector('.glider'), {
            // Mobile-first defaults
            slidesToShow: 2,
            slidesToScroll: 2,            
            itemWidth: 300, 
            scrollLock: true,
            arrows: {
                prev: '.glider__icon--left',
                next: '.glider__icon--right'
            },            
            dots:'.dots',
            responsive: [{
                // screens greater than >= 1024px
                breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        // itemWidth: 150,                        
                        dragVelocity: 2,
                        duration: 2,
                        dots:'.dots'
                        
                    }
                }
            ]
        });

        const glider2 = new Glider(document.querySelector('.event-glider'), {
            // Mobile-first defaults
            slidesToShow: 2,
            slidesToScroll: 2,            
            itemWidth: 300, 
            scrollLock: true,
            arrows: {
                prev: '#arrow-left',
                next: '#arrow-right'
            },            
            dots:'.dots',
            responsive: [{
                // screens greater than >= 1024px
                breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        // itemWidth: 150,                        
                        dragVelocity: 2,
                        duration: 2,
                        dots:'.dots'
                        
                    }
                }
            ]
        });
    </script>

<%- include('../includes/footer.ejs') %>