<%- include('../includes/html-head.ejs') %>
    <%- include('../includes/admin-header.ejs') %><br>

    <div class="container" id="teacher">
        <br>
        <h1 class="heading-title"> Edit <%= teacher.name %> information </h1>
        <% if(teacher.role === 'assistant') { %>
            <form action="/admin/teacher-info/upgrade" 
                    method="POST">
                <input type="hidden" name="teacherId" value="<%= teacher._id %>">
                <button type="submit" class="btn btn-danger">Upgrade to teacher </button>
            </form>
        <% } %>
        <hr>
        <div class="create__form">
            <form class="signup__form create__form--width" 
                    action="/admin/teacher-info/edit" 
                    method="POST"
                    enctype="multipart/form-data">

                <div class="form-group">
                    <label for="eventName"><%= teacher.role === 'teacher'  ? 'Teacher' : 'Assistant' %>'s name</label>
                    <input type="text" 
                            class="form-control" 
                            name="name"
                            value="<%= teacher.name %>">
                </div>

                <div class="form-group">
                    <label for="eventName"><%= teacher.role === 'teacher'  ? 'Teacher' : 'Assistant' %>'s specialty</label>
                    <input type="text" 
                            class="form-control" 
                            name="specialty"
                            value="<%= teacher.specialty %>">
                </div>

                <div class="form-group">
                    <label for="eventName"><%= teacher.role === 'teacher'  ? 'Teacher' : 'Assistant' %>'s story</label>
                    <textarea name="story" rows="5" class="form-control"><%= teacher.story %></textarea>
                </div>

                <div class="form-group">
                    <label for="eventName"><%= teacher.role === 'teacher'  ? 'Teacher' : 'Assistant' %>'s archivements</label>
                    <textarea name="archivements" rows="5" class="form-control"><%= teacher.archivements.join(';;') %></textarea>
                    <small>Mỗi link phân cách bởi dấu ';;' - không nhiều hơn 2 đường link</small>
                </div>

                <div class="form-group">
                    <label for="eventName"><%= teacher.role === 'teacher'  ? 'Teacher' : 'Assistant' %>'s videos link (from facebook)</label>
                    <textarea name="videoLinks" rows="4" class="form-control"><%= teacher.teacherVideo.join(';;') %></textarea>
                    
                    <small>Mỗi link phân cách bởi dấu ';;' - không nhiều hơn 2 đường link</small>
                </div>

                <div class="form-group">
                    <label for="eventName"><%= teacher.role === 'teacher'  ? 'Teacher' : 'Assistant' %>'s avatar</label>
                    <input type="file" 
                            class="form-control file-style" 
                            name="avatar">
                </div>

                <input type="hidden" name="teacherId" value="<%= teacher._id %>">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div><br><br><br>
</div>
    <script>
        $(document).ready(function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            })
        })

    </script>

<%- include('../includes/admin-footer.ejs',{
    page: 'Course Page'
}) %>
<%- include('../includes/footer.ejs') %>