<header class="grid__fluid header">
    <div class="inner-container header__body">
        <div class="header__left">
            <a href="/" class="header__logo">
                <img src="images/logo-top.png" alt="logo">
            </a>
        </div>
        <div class="header__right">
            <div class="header__responsive mr-2">
                <svg>
                    <use xlink:href="images/arrows.svg#icon-layers"></use>
                </svg>
            </div>
            <ul class="header__list">
                <li class="header__item <%= path === '/' ? 'header__active' : '' %>">
                    <a href="/" 
                        class="header__link">
                        trang chủ
                    </a>
                </li>
                <li class="header__item <%= path === '/course-page' ? 'header__active' : '' %>">
                    <a href="/course-page" 
                        class="header__link">
                        Khóa học
                    </a>
                </li>
                <li class="header__item <%= path === '/teacher-page' ? 'header__active' : '' %>">
                    <a href="/teacher-page" 
                        class="header__link">
                        Giáo viên
                    </a>
                </li>
                <li class="header__item <%= path === '/event-page' ? 'header__active' : '' %>">
                    <a href="/event-page" 
                        class="header__link">
                        Sự kiện
                    </a>
                </li>
                <li class="header__item <%= path === '/about' ? 'header__active' : '' %>">
                    <a href="/about" 
                        class="header__link">
                        Về Trung Tâm Ak
                    </a>
                </li>
                <li class="header__item <%= path === '/contact' ? 'header__active' : '' %>">
                    <a href="/contact" 
                        class="header__link">
                        Liên hệ
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<script>
    $(document).ready(function(){
        $('.header__responsive').click(function(){
            const headerList = $('.header__list');
            headerList.slideToggle(500);
            headerList.css({'display': 'flex'} );
        })
    })
</script>