<%- include('./includes/html-head.ejs') %>
    <%- include('./includes/client-header.ejs') %>

    <div class="grid">
        <div class="grid__container event-page">
            <h1 class="heading heading--1">
                Tin tức và sự kiện tại AK
            </h1>
            <div class="event-page__more">
                <h2>
                    Các sự kiện AK
                </h2>
                <div class="event-page__body">
                        <% events.forEach(event=>{ %>
                            <div class="events-sect__card">
                                <img src="<%= event.eventImgs[0] %>" alt="event img" class="events-sect__img">
                                
                                <div class="events-sect__wrap-btn">
                                    <button class="corner-btn corner-btn--trans">
                                        <a href="/event-page/tin-tức.<%= event._id %>">Xem thêm</a>
                                    </button>
                                    <p><%= event.dateHappen %></p>
                                </div>
                            </div>
                        <% }) %>
                </div>

                <nav aria-label="Page navigation example" class=" pagination__body">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="/event-page?pageEvent=<%= 1 %>&pageNews=<%= curPageNews %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        
                    <% for(let i=0; i < numDocsEvent; i++) { %>
                        <li class="page-item <%= curPageNews == (i+1) ? 'active' : '' %>">
                            <a class="page-link" 
                                href="/event-page?pageEvent=<%= i+1 %>&pageNews=<%= curPageNews %>"><%= i+1 %></a>
                        </li>
                    <% } %>

                        <a class="page-link" href="/event-page?pageEvent=<%= numDocsEvent %>&pageNews=<%= curPageNews %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <hr>
            <div class="incEvent">
                <h2>Sự kiện sắp diễn ra</h2>
                <% if(!incomingEvent) { %>
                    <i>Chưa có sự kiện nào sắp được tổ chức</i>
                <% } else { %>
                    <div class="incEvent__body">
                        <div class="incEvent__left">
                            <div href="#" class="event-page__group" id="event-1">
                                <img src="<%= incomingEvent.eventImg %>" alt="event img" class="event-page__group--img">
                                <div class="event-page__group--info">
                                    <h2> <%= incomingEvent.eventName %> </h2>
                                    <p><%= incomingEvent.desc[0].split(' ').slice(0,20).join(' ') %>...</p>
                                    <p><%= incomingEvent.dateHappen %></p>
                                </div>
                            </div>
                        </div>
                        <div class="incEvent__right">
                            <h1>Tham gia ngay!!!</h1>

                            <% incomingEvent.desc.forEach(des=>{ %>
                                <p><%= des %></p>
                            <% }) %>

                            <a href="<%= adminData[0].eventLink %>" 
                                target="blank"
                                class="link-btn">Tham gia</a>
                        </div>
                    </div>
                <% } %>
            </div>
            <hr>
            <div class="event-page__more">
                    <h2>
                        Các Tin tức nóng hổi tại AK
                    </h2>
                    <div class="event-page__body">
                            <% news.forEach(article =>{ %>
                                <div class="events-sect__card">
                                    <img src="<%= article.eventImgs[0] %>" alt="event img" class="events-sect__img">
                                    
                                    <div class="events-sect__wrap-btn">
                                        <button class="corner-btn corner-btn--trans">
                                            <a href="/event-page/tin-tức.<%= article._id %>">Xem thêm</a>
                                        </button>
                                        <p><%= article.dateHappen %></p>
                                    </div>
                                </div>
                            <% }) %>
                    </div>
                    <!-- for news section -->
                    <nav aria-label="Page navigation example" class=" pagination__body">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="/event-page?pageEvent=<%= curPageEvent %>&pageNews=<%= 1 %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            
                        <% for(let i=0; i < numDocsNews; i++) { %>
                            <li class="page-item <%= curPageNews == (i+1) ? 'active' : '' %>">
                                <a class="page-link" 
                                    href="/event-page?pageNews=<%= i+1 %>&pageEvent=<%= curPageEvent %>"><%= i+1 %></a>
                            </li>
                        <% } %>
    
                            <a class="page-link" href="/event-page?pageEvent=<%= numDocsNews %>&pageEvent=<%= curPageEvent %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
        </div>
    </div>

    <%- include('./includes/client-footer.ejs') %>
<%- include('./includes/footer.ejs') %>