<%- include('./includes/html-head.ejs') %>
    <%- include('./includes/client-header.ejs') %>

    <div class="grid" id="event">
        <div class="event-left">
            <h1 class="heading heading--1"><%= event.eventName %></h1>
            <div class="event-left__wrap">

                <h5 class="views mr-6">
                    <svg>
                        <use xlink:href="images/benefits.svg#icon-eye"></use>
                    </svg>
                    <span><%= event.views %> Lượt xem</span>
                </h5>
                <h4 class="event-left__date">
                    <svg>
                        <use xlink:href="images/course-detail.svg#icon-clock"></use>
                    </svg>
                    <%= event.dateHappen %>
                </h4>

            </div>
           

            <div class="event-left__body">
                <div v-html="markup"></div>
                <input type="hidden" value="<%= event.desc %>" ref="desc">
            </div>
        </div>
        <div class="event-right">
            <h2 class="event-right__title">
                Một số tin tức khác
            </h2>
            <div class="event-right__body">
                <% events.forEach(e=>{ %>
                    <div class="event-right__card">
                        <img src="<%= e.eventImgs[0] %>" alt="image" class="event-right__img">
                        <div class="event-right__detail">
                            <a href="/event-page/tin-tức.<%= e._id %>">
                                <h3><%= e.eventName %></h3>
                                <p><%= e.desc[0].split(' ').slice(0,13).join(' ') %>...</p>
                            </a>
                        </div>
                    </div>
                <% }) %>
                
            </div> 
           
        </div>
    </div>

    <script>
        const app = new Vue({
            el:'#event',
            data:{
                markup:''
            },
            created(){
                setTimeout(()=>{
                    this.init();
                }, 500)
            },
            methods:{
                init(){
                    this.markup = this.$refs.desc.value;
                }
            }
        })
    </script>

    <%- include('./includes/client-footer.ejs') %>
<%- include('./includes/footer.ejs') %>