<%- include('./includes/html-head.ejs') %>

    <div class="homepage-popup " v-if="isActive">
        <div class="homepage-popup__body flapInAnim">

            <h2 class="heading heading--5 text-center">
                Đọc trước khi vào website!!!
            </h2>
            <p>Trang web có sử dụng những công nghệ mới nhất trong hiển thị giao
                diện, do đó có khả năng sẽ không hiển thị được tốt trên các trình 
                duyệt cũ. Các bạn nên update trình duyệt của mình lên phiên bản mới 
                nhất để có những trải nghiệm tốt nhất tại website của AK. Xin cảm ơn.
            </p>
            <div class="d-flex justify-content-center mt-4 homepage-popup__btn-group">
                <button class="btn btn-primary mr-4" 
                        @click="isActive = false">Không, cảm ơn.</button>
                <a href="https://browser-update.org/update-browser.html"
                    target="blank" 
                    class="link-btn">Giúp tôi cập nhật </a>
            </div>
        </div>

    </div>
    <div class="grid">

        <header class="grid__fluid hero">
            <nav class="hero__nav container">
                <div class="hero__nav--left">
                    <h3 class="hero__logo">
                        <a href="/" class="hero__nav-link">
                            <img src="images/logo-top.png" alt="logo">
                        </a>
                    </h3>
                </div>
                <ul class="hero__nav--right">
                    <svg class="hero__responsive">
                        <use xlink:href="images/arrows.svg#icon-layers"></use>
                    </svg>
                    <div class="hero__nav--list">
                        <% navData.forEach((navItem,i)=>{ %>
                            <li class="hero__nav-item" id="item-<%= i %>">
                                <a href="<%= navItem.link %>" class="hero__nav-link">
                                    <%= navItem.page %>
                                </a>
                            </li>
                        <% }) %>
                    </div>
                </ul>
                <h4 class="hero__phone"><i class="fas fa-mobile-alt "></i>0905.674.528 - 0868.126.734</h4>
            </nav>
            <div class="hero__body">

                <h1 class="hero__title">
                    Trung tâm đa ngữ AK
                </h1>
                <h4 class="hero__subTitle">
                    Dự Án Hỗ Trợ Đào Tạo Ngôn Ngữ Chất Lượng Cao <br> dành cho sinh viên và người đi làm tại Đà Nẵng
                </h4>
                <form class="form-inline" action="/search" method="POST">
                    <input type="text" 
                            class="hero__search" 
                            name="search" 
                            placeholder="Tìm kiếm khóa học yêu thích...">
                    <button type="submit" class="corner-btn corner-btn--trans">Tìm kiếm</button>
                </form>
            </div>
        </header>

        <section class="grid__container about">
            <div class="about__left">
                <h2 class="heading heading--1">
                    Chúng tôi là ai
                </h2>
                <p class="content">
                    Trung Tâm Đa Ngữ AK được tạo ra với mong muốn tạo lập một môi trường ngoại ngữ giá rẻ năng động chất lượng tốt nhất phù hợp với mọi lứa tuổi                    Với sự dẫn dắt của các giảng viên giàu kinh nghiệm và nhiệt huyết. 
                    <br>
                    AK dần tối ưu hóa lộ trình giảng dạy, biến ngoại ngữ chết thành ngoại ngữ sống, học không còn chỉ để lấy bằng mà còn phải ứng dụng vào thực tế. 
                    Trung tâm đã dần khẳng định vị thế của bản thân thông qua việc tạo ra càng nhiều hơn các mô hình hỗ trợ cho những bạn học viên khó khăn, như các mô hình cafe học ngoại ngữ Free, các mô hình dạy online Free và các Event đầy hấp dẫn khác, do chính những thầy cô có bằng cấp và giàu kinh nghiệm từng trãi chia sẻ và hỗ trợ. <br>

                   Từ những mong muốn trên, AK hi vọng sẽ mở rộng mô hình ra khắp cả nước dần dần thay đổi lối tư duy học của người Việt Nam. Học không nên lệ thuộc vào giảng viên, mà muốn thành công hay không thì phải phụ thuộc hoàn toàn vào bản thân của mỗi chúng ta.  
                </p>
                <a href="/about" class="link-btn">Xem thêm</a>
            </div>
            <div class="about__right">
                <div class="about__images" id="about__img1">
                    <img src="images/about (1).jpg" alt="image" class="about__img">
                    <h5>Some information about this image, about what they do in there</h5>
                </div>
                <div class="about__images" id="about__img2">
                    <img src="images/about (2).jpg" alt="image" class="about__img">
                    <h5>Some information about this image, about what they do in there</h5>
                </div>
            </div>
        </section>
        <hr class="grid__container">

        <section class="grid__container benefit">
            <div class="benefit__heading">
                <h2 class="heading heading--2">Tại sao chọn AK</h2>
                <p>AK luôn hướng đến việc đặt lợi ích của học sinh sinh viên lên hàng đầu, làm thế nào cho đạt hiệu quả tối ưu và ít tốn kém thời gian, công sức và tiền bạc nhất. Cùng với đó là các lợi ích to lớn khi các bạn đến với trung tâm.</p>
            </div>
            <div class="benefit__body">
                <% benefitData.forEach(benefit=>{ %>

                    <div class="benefit__card">
                        <svg class="benefit__icon">
                            <use xlink:href="<%= benefit.icon %>"></use>
                        </svg>
                        <h4 class="benefit__title">
                            <%= benefit.title %>
                        </h4>
                        <p class="benefit__desc">
                            <%= benefit.desc %>
                        </p>
                    </div>

                <% }) %>
            </div>
        </section>

        <section class="CTA grid__fluid">
            <div class="container CTA__body">
                <h2>BẠN CÓ MUỐN TRẢI NGHIỆM CÁC LỢI ÍCH TRÊN</h2>
                <p >
                    Đừng chần chừ nữa hãy <strong>ĐĂNG KÍ NGAY</strong> <br> ĐỂ cùng chúng tôi TRẢI NGHIỆM 
                    THÔNG QUA CÁC BUỔI HỌC THỬ FREE
                </p>
                <a href="<%= adminData[0].courseLink %>" target="blank" class="link-btn">Đăng kí ngay</a>
            </div>
        </section>

        <section class="grid__fluid course-section">           
                
                <div class="course-section__body container">
                    <h1 class="heading heading--4">Các khóa học của chúng tôi</h1>
                    <h4>Các bạn có thể tìm thấy khóa học phù hợp với thời gian biểu và học lực của mình tại đây.<i>(vuốt qua để thấy các khóa học khác)</i></h4>
                    <br><br>

                    <svg class=" course-section__icon course-section__icon--left">
                        <use xlink:href="images/arrows.svg#icon-chevron-thin-left"></use>
                    </svg>
                    <svg class=" course-section__icon course-section__icon--right">
                        <use xlink:href="images/arrows.svg#icon-chevron-thin-right"></use>
                    </svg>

                    <div class="course-section__glider">

                        <% courses.forEach((course,i)=>{ %>
                           <%- include('./includes/course-card.ejs',{course, i, saleOff: offPrices, titleSEOs}) %>
                        <% }) %>   

                    </div> 
                    <div class="course-section__btn">
                        <a href="/course-page" class="link-btn">Xem toàn bộ</a>       
                    </div>
            </div>
        </section>

        <section class="events-sect grid__fluid">
            <div class="events-sect__body container">
                <h1 class="heading heading--1">Sự kiện và tin tức</h1>
                <h4>Tại đây các bạn có thể tìm thấy những sự kiện mới nhất diễn ra tại AK, Bạn có thể xem hoặc tham gia vào một trong các sự kiện đó</h4>
                <svg class=" events-sect__icon events-sect__icon--left">
                    <use xlink:href="images/arrows.svg#icon-chevron-thin-left"></use>
                </svg>
                <svg class=" events-sect__icon events-sect__icon--right">
                    <use xlink:href="images/arrows.svg#icon-chevron-thin-right"></use>
                </svg>
                
                <div class="events__glider container">

                    <% events.forEach(event=>{ %>
                        <div class="events-sect__card">
                            <img src="<%= event.eventImgs[0] %>" alt="event img" class="events-sect__img">
                            <div class="events-sect__wrap">
                                <h3><%= event.eventName %></h3>
                                <p><%= event.desc[0].split(' ').slice(0,12).join(' ') %>
                                    <%= event.desc[0].split(' ').length > 12 ? '...' : '' %></p>
                            </div>
                            <div class="events-sect__wrap-btn">
                                <button class="corner-btn corner-btn--trans">
                                    <a href="/event-page/tin-tức.<%= event._id %>">Xem thêm</a>
                                </button>
                                <p><%= event.dateHappen %></p>
                            </div>
                        </div>
                    <% }) %>

                </div>
                <div class="course-section__btn">
                    <a href="/event-page" class="link-btn">Xem toàn bộ</a>       
                </div>
            </div>
        </section>

        <section class="grid__fluid testi">
            <div class="container testi__body">
                <h2 class="heading heading--3">học viên nói gì về chúng tôi</h2>
                <% testimonials.forEach(testi=>{ %>
                <div class="testi__display fadeInAnim">

                        <div class="testi__left">
                            <i>"<%= testi.quote %>"</i>
                        </div>
                        <div class="testi__right">
                            <img src="<%= testi.img %>" alt="testimonial">
                            <h3><%= testi.name %></h3>
                            
                            <h4><%= testi.course %></h4>
                            <h4><%= testi.date %></h4>
                        </div>

                </div>
                <% })%>
            </div>
        </section>

        <%- include('./includes/client-footer.ejs') %>

    </div>

    <script src="javascripts/homePage.js">
           
    </script>

<%- include('./includes/footer.ejs') %>
