<%- include('./includes/html-head.ejs') %>
    <%- include('./includes/client-header.ejs') %>
    <div class="grid">
        <div class="teachers__body">

            <div class="teachers__heading">
                <h1 class="teachers__title">Những giảng viên của chúng tôi</h1>
                <h2>Họ là ai ?</h2>
                <p class="text-center">Những giảng viên ở đây đều đã tự trải qua nhiều quá trình tự học khác nhau từ đó sáng tạo ra rất nhiều phương pháp lẫn lộ trình rút gọn giảm tải thời gian học, đồng thời nâng cao chất lượng đào tạo với lưu lượng kiến thức sát với thực tế nhiều hơn.</p>
            </div>
            <div class="teachers__display">
                <% teachers.forEach((teacher, i)=>{ %>
                    <div class="teachers__card">
                        <img src="<%= teacher.avatar %>" alt="teacher avatar" class="teachers__avatar">
                        <a href="/teacher-page/<%= seoName[i] %>.<%= teacher._id %>" class="teachers__name"><%= teacher.name %></a>
                        <p class="teachers__shortDes">
                            <%= teacher.story.split(' ').slice(0,14).join(' ') %>...
                        </p>
                        <a href="/teacher-page/<%= seoName[i] %>.<%= teacher._id %>">
                            <svg class="teachers__icon">
                                <use xlink:href="images/benefits.svg#icon-magnifier"></use>
                            </svg>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="assistant__body">
            <h2 class="assistant__title">Đội ngũ trợ giảng</h2>
            <div class="assistant__team">
                <% assistants.forEach(assist=>{ %>
                    <div class="assistant__person">
                        <a href="/teacher-page/ho-tro.<%= assist._id %>">
                            <img src="<%= assist.avatar %>" alt="Assistant" class="assistant__img">
                        </a>
                        <div class="assistant__info">
                            <a href="/teacher-page/ho-tro.<%= assist._id %>" class="assistant__name"><%= assist.name %></a>
                            <p class="assistant__desc"><%= assist.story.split(' ').slice(0,10).join(' ') %>...</p>
                        </div>
                    </div>
                <% }) %>

            </div>

        </div>
    </div>
    <%- include('./includes/client-footer.ejs') %>
<%- include('./includes/footer.ejs') %>